/* Elimina el subrayado de todos los enlaces */
a {
  text-decoration: none !important;
  color: black !important;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 700;
}

/* Estilo global para eliminar puntos de lista si estás usando listas */
ul,
li {
  list-style: none;
  text-align: center;
  margin: 0%;
  width: 100%;
}

/* Opcional: Personaliza enlaces con hover */
a:hover {
  color: #0a88d1 !important;
  /* Cambia el color al pasar el mouse */
}

/* Para Personalizar (Contactanos de Instagram)*/
.contact {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
}

.navbar-menu a {
  text-decoration: none !important;
  color: black !important;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 20px;
}

/* Estilos para (Juegos de Mesa)*/
.games {
  text-decoration: none !important;
  color: black !important;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 700;
}

.slash {
  text-decoration: none !important;
  color: black !important;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 700;
}