/* Contenedor principal para centrar el formulario */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  
  
  
  }
  
  /* Formulario con tamaño limitado */
  .login-form {
    width: 100%;
    max-width: 400px;
    /* Tamaño máximo */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #d3d3d3;
    /* Fondo blanco */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra para efecto */
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .checkbox-inline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0;
    /* Sin espacio entre el checkbox y el label */
    margin-bottom: 10px;
  }
  
  .forgot-password span {
    font-size: 16px;  /* Tamaño del texto */
    color: #000;  /* Color del texto */
    transition: color 0.3s ease;  /* Suaviza el cambio de color */
  }
  
  .forgot-password:hover span {
    color: #007bff;
    /* Cambia el color del texto y el ícono al pasar el cursor */
  }
  
  .formLabel {
    display: block;
    /* Asegura que el label ocupe toda la línea */
    text-align: left;
    /* Alinea el texto del label a la izquierda */
    margin-bottom: 0.5rem;
    /* Ajusta el espacio debajo del label */
  }
  
  .createAcount {
    cursor: pointer;
    /* Cambia el cursor a una mano para indicar que es interactivo */
    transition: all 0.3s ease;
    /* Suaviza la transición */
  }
  
  .createAcount span {
    font-size: 16px;
    /* Tamaño del texto */
    color: #000;
    /* Color del texto */
    transition: color 0.3s ease;
    /* Suaviza el cambio de color */
  }
  
  .spanLabel:hover span {
    color: #007bff;
    /* Cambia el color del texto y el ícono al pasar el cursor */
  }
  
  button.custom-button {
    background-color: #644986;
    /* Color de fondo */
    border-color: #7d5ba6;
    /* Color del borde */
    color: white;
    /* Color del texto */
  }
  
  button.custom-button:hover {
    background-color: #0d6efd;
    /* Color del fondo en hover */
    border-color: #6a4894;
    /* Color del borde en hover */
  }